html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}



:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2E2F42;
    --team-background-color: #F4F4FD;
    --customers-links: #8E8F99;
}


body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}


/* колір тексту #434455 */
/* колір заголовків #2E2F42 */
/* білий #ffffff */
/* акцент #4D5AE5 */
/* основний колір фону #D9D9D9 */
/* другорядний колір фону #2E2F42 */
/* колір ховер #404BBF */
/* текст футер #F4F4FD */

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
/* Header */

.page-header {
    /* padding-top: 25px; */
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;

}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-link {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-link-color {
     color: #2e2f42;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
    
 .site-nav {
    display: flex;
    align-items: center;
    /* padding: 24px 0; */
    gap: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
} 



.nav-list {
    padding: 24px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-list.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    bottom: -1px;

}
.nav-list:hover,
.nav-list:focus,
.nav-list.current {
    color: #404bbf;
}

/* Address */

.address {
    font-style: normal;
    margin-left: auto;
   
}

/* .address-list .item:last-child {
    margin-left: 40px;
} */
.address-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
   

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
}
.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}


/* Hero */
.hero {
    background-color: var(--secondary-background-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) ,url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;

}
.hero-title {
    
    max-width: 496px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    /* padding-top: 188px; */
    
    
}   
.hero-button {
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    /* margin-bottom: 188px; */
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
    background-color: #404BBF;
}
.hero-button:focus {
    background-color: #404BBF;
}


/* Features */

.benefits-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 264px;
    height: 112px;
    left: 0px;
    top: 0px;
    background: #F4F4FD;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 8px;
}

.features-icons {
    width: 64px;
    height: 64px;
    margin: 24px 100px;
}

.benefits {
    display: flex;
    gap: 24px;
    
}
.benefits-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.features-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}
/* Work */

.work-item {
    display: flex;
    gap: 24px;
}

.work {
    padding-top: 0;
    padding-bottom: 120px;
}

.work-title {
   
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}
.work-pic {

}
/* Team */


.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-content {
    display: flex;
    gap: 24px;

}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-description {
    padding: 32px 16px;
    
    }
.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}
.team-list-title {
    margin-bottom: 8px;
    

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-align: center;
    
   
}
.team-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
    
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill: var(--team-background-color);
}


.team-soc-link:hover {
    background-color: #404BBF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:focus {
    background-color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Customers */

.customers {
    padding: 120px 0;
    /* padding-bottom: 120px; */
    text-align: center;
}

.customers-title {
    /* margin: 0 auto; */
    margin-bottom: 72px;

    /* width: 183px;
    height: 40px; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* text-align: center; */
    /* letter-spacing: 0.02em; */
    color: var(--title-text-color);
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
    
}

.customers-link {
    color: var(--customers-links);
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    color: #404BBF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .customers-link:hover .customers-icon,
.cuxtomers-link:focus .customers-icon {
    color: #404bbf;
} */
 
.customers-icon {
    fill: currentColor;
} 

/* Examples */

.examples {
    padding-top: 96px;
    padding-bottom: 120px;
}

.examples-button {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}
.examples-btn {

    padding: 12px 24px;
    border: 1px solid #e7e9fc;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: #F4F4FD;
    cursor: pointer;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-btn:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.examples-meta {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .examples-cover-text {
    transform: translateY(0%);
}
.examples-link:focus .examples-cover-text {
    transform: translateY(0%);
}

.examples-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        /* transform: translateY(0%); */
}
.examples-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        /* transform: translateY(0%); */
}

.examples-cover {
    position: relative;
    overflow: hidden;
}

.examples-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: var(--accent-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-desc {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.portfolio-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    
}

.examples-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
}

/* Футер */
.footer {
    background-color: var(--secondary-background-color);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-begin {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-s {
    color: #F4F4FD;
}

.footer-text {
   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    width: 264px;
}

.footer-soc {
    
    text-align: center;
}

.footer-soc-title {
    margin-bottom: 16px;
    display: flex;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-background-color);
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
   
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
    background-color: #31D0AA;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:focus {
    background-color: #31D0AA;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--team-background-color);
}

.footer-subscribe {
    gap: 24px;
    justify-content: flex-end;
}

.subscribe-field {
    padding-left: 80px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 26px;
    cursor: pointer;
    background-color: #2E2F42;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}



.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.footer-subscribe-button {
    display: inline-flex;
    align-items: center;
    position: absolute;
    margin-left: 24px;
    flex-direction: row;
    justify-content: center;
    padding: 8px 24px;
    gap: 16px;
    background: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-subscribe-button::placeholder {
    color: #FFFFFF;
}

.subscribe-icon {
    fill: #FFFFFF;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #404bbf;
    border: none;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: white;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 72px;
    color: #2E2F42;
    margin-bottom: 34px;
   
}

.modal-field {
   margin-bottom: 24px;
}
.input-wrap {
   position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 38px;
    outline: transparent;
}

.modal-input:focus,
.modal-input:hover {
    border-color: #404BBF;
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
    fill: #404bbf;
}



.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}



.input-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
    margin-top: 8px;
}

.modal-comment {
   width: 100%;
   height: 120px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   resize: none;
}

.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;
    padding-left: 16px;
}

.modal-comment:hover,
.modal-comment:focus {
    border-color: #404BBF;
}

.check-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;

}

.check-text span {
    /* display: block; */
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-check:checked + .check-text span {
    background: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.check-privacy {
    color: #4D5AE5;
    margin-left: 2px;
}

.modal-button {
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
    background-color: #404BBF;
}

.modal-button:focus {
    background-color: #404BBF;
}



